.colors-container {
    height: 50vh;
    animation: container-animation 10s ease infinite;
  }
  .letter {
    font-size: 100px;
    font-weight: bold;
    padding-right: 150px;
    margin-right:150px;
    color: white;
    text-align: center;
    -webkit-text-stroke: 1px black;
  }
  
  .letter0 {
    animation: letter-anim ease 5s infinite;
  }
  .letter1 {
    animation: letter-anim ease 8s infinite;
  }

 
 
  @keyframes letter-anim {
    0% {
      color: white;
      font-size: 100px;    
      transform: rotate(-17deg);  
      padding-right: 150px;
      margin-right:150px;  
      
    }
    25% {
      color: red;
      font-size: 70px;     
      transform: rotate(-2deg);
      padding-right: 150px;
      margin-right:150px;
    }
    50% {
      color: greenyellow;
      font-size: 120px;    
      transform: rotate(0deg);
      padding-right: 150px;
      margin-right:150px;
    }
    75% {
      color: cyan;
      font-size: 100px;     
      transform: rotate(14deg);
      padding-right: 150px;
      margin-right:150px;
    }
    100% {
      color: darkblue;
      font-size: 80px;    
      transform: rotate(-5deg);
      padding-right: 150px;
      margin-right:150px;
    }
  }
  
  @keyframes container-animation {
    0% {
      background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    }
    25% {
      background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    }
    50% {
      background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    }
    75% {
      background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    }
    100% {
      background-image: linear-gradient(to right, #434343 0%, black 100%);
    }
  }